src/META-INF/wsdl/dmsprestamos.apphb.com/Autenticacion.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UsuariosDMS.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/UsuariosDMS.Dominio"><xs:complexType name="Usuario"><xs:sequence><xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Password" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Tipo" type="xs:int"/></xs:sequence></xs:complexType><xs:element name="Usuario" nillable="true" type="tns:Usuario"/></xs:schema>