src/META-INF/wsdl/dmsprestamos.apphb.com/Autenticacion.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://dmsprestamos.apphb.com/Autenticacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UsuariosDMS.Dominio"/><xs:element name="VerificarExistenciaUsuario"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="VerificarExistenciaUsuarioResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="VerificarExistenciaUsuarioResult" nillable="true" type="q1:Usuario" xmlns:q1="http://schemas.datacontract.org/2004/07/UsuariosDMS.Dominio"/></xs:sequence></xs:complexType></xs:element><xs:element name="VerificarPassword"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="usuarioConUsername" nillable="true" type="q2:Usuario" xmlns:q2="http://schemas.datacontract.org/2004/07/UsuariosDMS.Dominio"/><xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="VerificarPasswordResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="VerificarPasswordResult" type="xs:int"/></xs:sequence></xs:complexType></xs:element></xs:schema>