src/META-INF/wsdl/dmsprestamos.apphb.com/ReservaEquipo.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="RegistrarPrestamo"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="cliente" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="equipo" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="motivo" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="RegistrarPrestamoResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="RegistrarPrestamoResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>