xml-resources/web-service-references/Autenticacion/wsdl/localhost_49403/Autenticacion.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PrestamosServicios.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/PrestamosServicios.Dominio"><xs:complexType name="User"><xs:sequence><xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Password" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Tipo" type="xs:int"/></xs:sequence></xs:complexType><xs:element name="User" nillable="true" type="tns:User"/><xs:complexType name="PasswordIncorrectaExcepcion"><xs:sequence><xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="PasswordIncorrectaExcepcion" nillable="true" type="tns:PasswordIncorrectaExcepcion"/></xs:schema>