xml-resources/web-service-references/Equipos/wsdl/dmsprestamos.apphb.com/Equipos.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PrestamosServicios.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/PrestamosServicios.Dominio"><xs:complexType name="Equipo"><xs:sequence><xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Id" type="xs:int"/><xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="Equipo" nillable="true" type="tns:Equipo"/><xs:complexType name="EquipoRepetidoExcepcion"><xs:sequence><xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="EquipoRepetidoExcepcion" nillable="true" type="tns:EquipoRepetidoExcepcion"/><xs:complexType name="EquipoEliminarExcepcion"><xs:sequence><xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="EquipoEliminarExcepcion" nillable="true" type="tns:EquipoEliminarExcepcion"/><xs:complexType name="ArrayOfEquipo"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Equipo" nillable="true" type="tns:Equipo"/></xs:sequence></xs:complexType><xs:element name="ArrayOfEquipo" nillable="true" type="tns:ArrayOfEquipo"/></xs:schema>